/* general css */
* {
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* header */
.yellowPart{
    background-color: yellow;
    padding: 15px;
}
.header {
    position: fixed;
    width: 100%;
    background: rgb(255, 30, 28);
    background: linear-gradient(180deg, rgba(255, 30, 28, 1) 30%, rgba(228, 88, 88, 0) 100%);
}

.logo a img {
    text-align: end;
}

/* middle nav css */
.middlenav {
    justify-content: center;

}

.midmenu {
    margin-left: auto;
    margin-right: auto;

}

/* navmenu item css */
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    padding: 0;
    padding: 0px 15px;


}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}

.nav-item {
    color: #fff;
    ;
}

/* last menu css */
.last_menu {
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.last_menu li a {
    color: #fff;
    font-size: 18px;
}

.last_menu li a:hover{
    color: #000;
}

/* search icon box css */
.search-icon {
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
}

.search-box {
    position: absolute;
    top: 50px;
    /* Adjust this value as needed to position the search box */
    right: 0;
    width: 50%;
    padding: 10px;
    display: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-btn {
    padding: 10px 20px;
    background: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 25%;
}
/* header ends */

/* hero starts */
.hero {
    background: url(../images/a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 500px;
}
/* ends*/

/* textfield starts */
.textfiled {
    background: url(../images/b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text_contain {
    padding: 50px;
}

.text_contain h2 {}

.text_box {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.text_box p {
    font-size: 18px;
    margin-bottom: 5px;
}
/* ends */

/* footer starts */
.footer {
    background: url(../images/a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 0px;
}

.cc p {
    text-align: center;
    color: #fff;
}

.footerLink {
    display: flex;
    justify-content: flex-end;
}

.footerLink li {
    list-style: none;
    color: #fff;
}

.footerLink li a {
    text-decoration: none;
    color: #fff;
}
/* footer ends */